
body {
  font-size: 16px;
  text-align: center;
 background-color:#FA8072;
 color: inherit;
}



.button-styles{
  background-color: #DC143C;
  color:black ;
  text-transform: uppercase;
  display: inline;
}



.pokeImage {
  width: 150px;
}
