
body {
  font-size: 16px;
  text-align: center;
 background-color:#FA8072;
 color: inherit;
}

.button-styles{
  background-color: #DC143C;
  border-radius: 2px;
  color:black ;
  text-transform: uppercase;
  display: inline;
  padding: 15px 32px;
 margin: 0;
}



.pokeImage {
  width: 150px;
}

